<div class="container">
  <div class="header">
    <h1>Client Management</h1>
  </div>
  <kendo-grid
    [data]="clients"
    [pageSize]="state.take"
    [skip]="state.skip"
    [filter]="state.filter"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="true"
    [filterable]="true"
    (dataStateChange)="dataStateChange($event)"
  >
    <kendo-grid-column field="firstName" title="First Name"></kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email"></kendo-grid-column>
    <kendo-grid-column
      field="phoneNumber"
      title="Phone Number"
    ></kendo-grid-column>
    <kendo-grid-command-column title="Commands">
      <ng-template kendoGridEditTemplate let-dataItem>
        <button kendoGridEditCommand class="k-button k-primary">Edit</button>
        <button kendoGridRemoveCommand class="k-button k-primary">
          Delete
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>

<router-outlet></router-outlet>
