<div class="container">
  <div class="header">
    <h1>Client Management</h1>
  </div>
  <kendo-grid
    [kendoGridReactiveEditing]="createFormGroup"
    [data]="clients"
    [pageSize]="state.take"
    [skip]="state.skip"
    [filter]="state.filter"
    [sort]="state.sort"
    [sortable]="true"
    [pageable]="true"
    [filterable]="true"
    (dataStateChange)="dataStateChange($event)"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
  >
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>Add new</button>
      <button kendoButton (click)="saveHandler($event)">Save Changes</button>
      <button kendoButton>Cancel Changes</button>
    </ng-template>
    <kendo-grid-column field="firstName" title="First Name"></kendo-grid-column>
    <kendo-grid-column field="lastName" title="Last Name"></kendo-grid-column>
    <kendo-grid-column field="email" title="Email"></kendo-grid-column>
    <kendo-grid-column
      field="phoneNumber"
      title="Phone Number"
    ></kendo-grid-column>
    <kendo-grid-command-column title="command" [width]="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button kendoGridEditCommand [primary]="true">Edit</button>
        <button kendoGridRemoveCommand>Remove</button>
        <button kendoGridSaveCommand [disabled]="formGroup.invalid">
          {{ isNew ? "Add" : "Update" }}
        </button>
        <button kendoGridCancelCommand>
          {{ isNew ? "Discard changes" : "Cancel" }}
        </button>
      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</div>

<router-outlet></router-outlet>
